# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [107]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [108]:
# import dataset
pokemon=pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [109]:
# your code here
pokemon.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [110]:
# your code here
pokemon.columns=[col.lower().replace(" ","_")for col in pokemon.columns]

list_type1=list(pokemon.type_1.unique())
list_type1
list_type2=list(pokemon.type_2.unique())
print(list_type2)

['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass', 'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water', 'Electric', 'Fire', 'Ghost', 'Bug', 'Normal']

In [111]:
print(list_type1)

['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark', 'Steel', 'Flying']

In [112]:
print(set(list_type1+list_type2))

{'Poison', 'Dark', 'Water', 'Fire', 'Steel', 'Electric', nan, 'Ground', 'Fighting', 'Rock', 'Bug', 'Fairy', 'Dragon', 'Ghost', 'Ice', 'Flying', 'Normal', 'Grass', 'Psychic'}

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [113]:
# your code here
list(pokemon[pokemon.name.str.contains("Mega")].name.sort_values().unique())

['AbomasnowMega Abomasnow',
 'AbsolMega Absol',
 'AerodactylMega Aerodactyl',
 'AggronMega Aggron',
 'AlakazamMega Alakazam',
 'AltariaMega Altaria',
 'AmpharosMega Ampharos',
 'AudinoMega Audino',
 'BanetteMega Banette',
 'BeedrillMega Beedrill',
 'BlastoiseMega Blastoise',
 'BlazikenMega Blaziken',
 'CameruptMega Camerupt',
 'CharizardMega Charizard X',
 'CharizardMega Charizard Y',
 'DiancieMega Diancie',
 'GalladeMega Gallade',
 'GarchompMega Garchomp',
 'GardevoirMega Gardevoir',
 'GengarMega Gengar',
 'GlalieMega Glalie',
 'GyaradosMega Gyarados',
 'HeracrossMega Heracross',
 'HoundoomMega Houndoom',
 'KangaskhanMega Kangaskhan',
 'LatiasMega Latias',
 'LatiosMega Latios',
 'LopunnyMega Lopunny',
 'LucarioMega Lucario',
 'ManectricMega Manectric',
 'MawileMega Mawile',
 'MedichamMega Medicham',
 'Meganium',
 'MetagrossMega Metagross',
 'MewtwoMega Mewtwo X',
 'MewtwoMega Mewtwo Y',
 'PidgeotMega Pidgeot',
 'PinsirMega Pinsir',
 'RayquazaMega Rayquaza',
 'SableyeMega Sableye',
 'SalamenceMega Salamence',
 'SceptileMega Sceptile',
 'ScizorMega Scizor',
 'SharpedoMega Sharpedo',
 'SlowbroMega Slowbro',
 'SteelixMega Steelix',
 'SwampertMega Swampert',
 'TyranitarMega Tyranitar',
 'VenusaurMega Venusaur']

In [114]:
pokemon["name"]= pokemon["name"].str.replace(r"(\w+)(Mega) \1", r"Mega \1", regex=True)

In [115]:
# your code here
list(pokemon[pokemon.name.str.contains("Mega")].name.sort_values().unique())

['Mega Abomasnow',
 'Mega Absol',
 'Mega Aerodactyl',
 'Mega Aggron',
 'Mega Alakazam',
 'Mega Altaria',
 'Mega Ampharos',
 'Mega Audino',
 'Mega Banette',
 'Mega Beedrill',
 'Mega Blastoise',
 'Mega Blaziken',
 'Mega Camerupt',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Diancie',
 'Mega Gallade',
 'Mega Garchomp',
 'Mega Gardevoir',
 'Mega Gengar',
 'Mega Glalie',
 'Mega Gyarados',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Kangaskhan',
 'Mega Latias',
 'Mega Latios',
 'Mega Lopunny',
 'Mega Lucario',
 'Mega Manectric',
 'Mega Mawile',
 'Mega Medicham',
 'Mega Metagross',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Mega Pidgeot',
 'Mega Pinsir',
 'Mega Rayquaza',
 'Mega Sableye',
 'Mega Salamence',
 'Mega Sceptile',
 'Mega Scizor',
 'Mega Sharpedo',
 'Mega Slowbro',
 'Mega Steelix',
 'Mega Swampert',
 'Mega Tyranitar',
 'Mega Venusaur',
 'Meganium']

In [116]:

# test transformed data
pokemon.head(10)

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [125]:
# your code here

pokemon["a/d_ratio"]=pokemon["attack"]/pokemon["defense"]

pokemon["a/d_ratio"]

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: a/d_ratio, Length: 800, dtype: float64

#### Identify the pokemon with the highest `A/D Ratio`.

In [128]:
# your code here
pokemon["a/d_ratio"].sort_values(ascending=False)
pokemon.iloc[429]

#                            386
name          DeoxysAttack Forme
type_1                   Psychic
type_2                       NaN
total                        600
hp                            50
attack                       180
defense                       20
sp._atk                      180
sp._def                       20
speed                        150
generation                     3
legendary                   True
a/d_ratio                    9.0
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [130]:
# your code here
pokemon["a/d_ratio"].sort_values()
pokemon.iloc[230]

#                  213
name           Shuckle
type_1             Bug
type_2            Rock
total              505
hp                  20
attack              10
defense            230
sp._atk             10
sp._def            230
speed                5
generation           2
legendary        False
a/d_ratio     0.043478
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [134]:
# your code here
pokemon["combotype"]=pokemon[["type_1","type_2"]].fillna(" ").agg("-".join,axis=1)

El problema del código de arriba, es que dejará todos los valores de un solo tipo acabando en "- ", por lo que después deberemos aplicar un apply lambda a todos los valores para que, en el caso de acabar en "- ", se los quite.

In [ ]:
pokemon2=pokemon.copy()
# pokemon2.to_csv("pokemon2_combotype.csv",index=False)

In [150]:
pokemon2["combotype"] = pokemon2["combotype"].apply(lambda x: x[:-2] if x.endswith("- ") else x)

In [152]:
pokemon2.sample(10)

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio,combotype
563,504,Patrat,Normal,NaN,255,45,55,39,35,39,42,5,False,1.410256,Normal
389,356,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,3,False,0.538462,Ghost
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False,1.750000,Bug
294,271,Lombre,Water,Grass,340,60,50,50,60,70,50,3,False,1.000000,Water-Grass
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False,1.555556,Fire
693,632,Durant,Bug,Steel,484,58,109,112,48,48,109,5,False,0.973214,Bug-Steel
233,215,Sneasel,Dark,Ice,430,55,95,55,35,75,115,2,False,1.727273,Dark-Ice
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000000,Water-Dark
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False,1.666667,Grass-Dark
633,572,Minccino,Normal,NaN,300,55,50,40,40,40,75,5,False,1.250000,Normal

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [193]:
# your code here

top_5_ad_ratio_index=pokemon2["a/d_ratio"].sort_values(ascending=False).head(5).index
top_5_ad_ratio_index

Index([429, 347, 19, 453, 348], dtype='int64')

los top_5, ahora los almacenaremos en una variable y mediante loc, cogeremos los nombres que corresponden a esos índices.

In [194]:
top_5_names=pokemon2.loc[top_5_ad_ratio_index,"name"].tolist()
top_5_names

['DeoxysAttack Forme', 'Carvanha', 'Mega Beedrill', 'Cranidos', 'Sharpedo']

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [198]:
# your code here
top_5_combotypes=pokemon2.loc[top_5_ad_ratio_index,"combotype"].tolist()
top_5_unique_combotypes=set(top_5_combotypes)
top_5_unique_combotypes

{'Bug-Poison', 'Psychic', 'Rock', 'Water-Dark'}

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here
numeric_vars=["#","total","hp,attack","defense","sp._atk","sp._def","speed","generation","legendary","a/d_ratio"]

In [242]:
combotype_mean_stats_df=pokemon2.groupby("combotype")[["#","total","hp","attack","defense","sp._atk","sp._def","speed","generation","legendary","a/d_ratio"]].mean()
combotype_mean_stats_df2=combotype_mean_stats_df.reset_index()

In [243]:
top_5_combotype_mean_stats_df=combotype_mean_stats_df2[combotype_mean_stats_df2["combotype"].isin(top_5_unique_combotypes)]
top_5_combotype_mean_stats_df

,combotype,#,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,a/d_ratio
8,Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
109,Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
117,Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
140,Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949